@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Pinyon+Script&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
    font-family: 'Big Caslon';
    src: url('../fonts/BigCaslon-Medium.woff2') format('woff2'),
        url('../fonts/BigCaslon-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Annabelle JF';
    src: url('../fonts/AnnabelleJF.woff2') format('woff2'),
        url('../fonts/AnnabelleJF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*========== Font family ==========*/
$title: "Bodoni Moda", serif;
$title: "Pinyon Script", cursive;
$raleway: "Raleway", sans-serif;
$title: 'Big Caslon';
$title: 'Annabelle JF';
$title: "Playfair Display", serif;
/*======== Globals color ========*/
$primary: var(--main-color);
$secondary: var(--secondary-color);
$third: var(--third-color);
$four: var(--four-color);
$black:#000000;
$white:#ffffff;
$text_vg: #f7f2e6;
/*======== Function width ========*/
$movil: 390;
$desktop: 1920;
@function scaleVW($size, $viewportWidth) {
    @return calc(($size * 100) / $viewportWidth) * 1vw;
}
@function LH($lineheight, $fontSize) {
    @return calc($lineheight / $fontSize);
}
html{
    width: 100%;
    overflow-x: hidden;
    body{
        width: 100%;
        overflow-x: hidden;
    }
}