.banner-medellin-partial-2a557e {
    background: $third;
    padding-bottom: scaleVW(123, $desktop);
    @media(max-width:768px){
        padding-bottom: scaleVW(75, $movil);
    }
    .content{
        padding: scaleVW(98, $desktop) 0;
        margin: 0 auto;
        padding-bottom: 0;
        position: relative;
        @media(max-width:768px){
            padding: scaleVW(57, $movil) 0 0 0;
            max-width: scaleVW(321.0599, $movil);
            margin-bottom: 0;
        }
        h1{
            color: $primary; 
            font-family: $title;
            font-size: scaleVW(92.72, $desktop);
            line-height: LH(111.27, 92.72);
            text-align: center;
            max-width: scaleVW(858.0107, $desktop);
            margin: 0 auto scaleVW(59, $desktop) auto;
            @media(max-width:768px){
                font-size: scaleVW(26, $movil);
                line-height: LH(25, 26);
                max-width: 100%;
                margin-bottom: scaleVW(33, $movil);
            }
        }
        .after-title{
            text-align: center;
            font-family: $title;
            font-size: scaleVW(34.12, $desktop);
            line-height: LH(40.95, 34.12);
            color: $primary;
            margin-bottom: scaleVW(95, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(18, $movil);
                line-height: LH(24, 18);
            }
        }
        .main-image{
            width: scaleVW(1600, $desktop);
            height: scaleVW(900, $desktop);
            object-fit: cover;
            object-position: center;
            margin: 0 auto;
            display: flex;
            @media(max-width:768px){
                width: scaleVW(284, $movil);
                height: scaleVW(204, $movil);
            }
        }
        .seconadry-content{
            max-width: scaleVW(1340.3509, $desktop);
            margin: scaleVW(119, $desktop) auto scaleVW(139, $desktop) auto;
            display: flex;
            align-items: center;
            // gap: scaleVW(52, $desktop);
            @media(max-width:768px){
                max-width: scaleVW(333, $movil);
                margin: scaleVW(40, $movil) 0;
            }
            .medellin{
                display: none;
                width: scaleVW(669.685, $desktop);
                height: scaleVW(378, $desktop);
                @media(max-width:768px){
                    display: none;
                }
            }
            .description{
                text-align: center;
                margin: 0;
                font-size: scaleVW(21, $desktop);
                line-height: LH(25.2, 21);
                color: $primary;
                font-family: $title;
                margin-bottom: 0;
                @media(max-width:768px){
                    margin-top: 0;
                    font-size: scaleVW(16, $movil);
                    line-height: LH(19.2, 16);
                    width: 100%;
                }
            }
        }
    }
}