.boda-partial-f6625b {
    background: $purple;
    padding-top: scaleVW(42, $desktop);
    padding-bottom: scaleVW(62.5, $desktop);
    position: relative;
    @media(max-width:768px){
        padding-top: scaleVW(42, $movil);
        padding-bottom: scaleVW(47, $movil);
    }
    .left-image{
        position: absolute;
        width: scaleVW(347.1989, $desktop);
        height: scaleVW(358.646, $desktop);
        object-fit: contain;
        left: scaleVW(223, $desktop);
        bottom: scaleVW(110, $desktop);
        animation: flower 3.5s ease-in-out infinite;
        @media(max-width: 768px){
            bottom: scaleVW(15, $movil);
            left: scaleVW(-20, $movil);
            width: scaleVW(113, $movil);
            height: scaleVW(116.7256, $movil);
        }
    }
    .content{
        width: scaleVW(1583.1528, $desktop);
        margin-left: auto;
        margin-right: scaleVW(109, $desktop);
        display: flex;
        align-items: end;
        gap: scaleVW(102, $desktop);
        margin-bottom: scaleVW(56, $desktop);
        @media(max-width:768px){
            flex-direction: column;
            align-items: center;
            width: scaleVW(360, $movil);
            gap: scaleVW(27, $movil);
            margin-bottom: scaleVW(27, $movil);
        }
        .left{
            width: scaleVW(205.8477, $desktop);
            padding-bottom: scaleVW(199, $desktop);
            p{
                font-family: $title;
                color: $violeta;
                font-size: scaleVW(55.28, $desktop);
                line-height: LH(66.33, 55.28);
                margin: 0;
            }
            @media(max-width:768px){
                padding: 0;
                width: 100%;
                text-align: center;
                display: none;
                p{
                    font-size: scaleVW(20, $movil);
                    line-height: LH(24, 20);
                }
            }
        }
        .center{
            width: scaleVW(797.04, $desktop);
            height: scaleVW(723.84, $desktop);
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            @media(max-width:768px){
                width: scaleVW(360, $movil);
                height: scaleVW(326.9377, $movil);
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .right{
            width: scaleVW(328.4585, $desktop);
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: scaleVW(59, $desktop);
            padding-bottom: scaleVW(103, $desktop);
            p{
                font-family: $title;
                color: $violeta;
                font-size: scaleVW(46.9, $desktop);
                line-height: LH(47.8, 46.9);
                margin: 0;
                a{
                    font-family: $text;
                    font-size: scaleVW(21, $desktop);
                    line-height: LH(25, 21);
                    display: block;
                    flex-wrap: wrap;
                    width: scaleVW(227.0113, $desktop);
                    margin: 0 auto;
                    text-decoration: none;
                    color: $violeta;
                }
            }
            @media(max-width:768px){
                padding: 0;
                width: 100%;
                text-align: center;
                gap: scaleVW(8, $movil);
                p{
                    font-size: scaleVW(20, $movil);
                    line-height: LH(29.17, 20);
                    width: scaleVW(300, $movil);
                    margin-left: auto;
                    margin-right: auto;
                    br{
                        display: none;
                    }
                    a{
                        font-size: scaleVW(16, $movil);
                        line-height: LH(19.2, 16);
                        width: scaleVW(141.2627, $movil);
                    }
                }
            }
        }
    }
    .description{
        text-align: center;
        width: scaleVW(800, $desktop);
        margin: 0 auto;
        color: $violeta;
        @media(max-width:768px){
            width: scaleVW(360, $movil);
        }
        h2{
            font-family: $title;
            font-size: scaleVW(65.78, $desktop);
            line-height: LH(78.93, 65.78);
            margin: 0;
            @media(max-width:768px){
                font-size: scaleVW(39, $movil);
                line-height: LH(46.8, 39);
            }
        }
        h3{
            font-family: $title;
            font-size: scaleVW(55.28, $desktop);
            line-height: LH(66.33, 55.28);
            margin: 0;
            margin-bottom: scaleVW(67, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(28.63, $movil);
                line-height: LH(34.36, 28.63);
                margin-bottom: scaleVW(50.2471, $movil);
            }
        }

        h4{
            font-family: $title;
            font-size: scaleVW(49.17, $desktop);
            line-height: LH(59, 49.17);
            margin-top: 0;
            margin-bottom: scaleVW(20, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(25.47, $movil);
                line-height: LH(30.56, 25.47);
                margin-bottom: scaleVW(7, $movil);
            }
        }
        p{
            font-family: $text;
            color: $violeta;
            margin-bottom: scaleVW(23, $desktop);
            font-size: scaleVW(24, $desktop);
            line-height: LH(28.8, 24);
            a{
                color: $violeta;
                text-decoration: none;
            }
            @media(max-width:768px){
                font-size: scaleVW(16, $movil);
                line-height: LH(19.2, 16);
                margin-bottom: scaleVW(7, $movil);
            }
        }
        p:last-child{
            margin-bottom: 0;
        }
    }
    .left.movil{
        width: scaleVW(205.8477, $desktop);
        padding-bottom: scaleVW(199, $desktop);
        display: none;
        p{
            font-family: $title;
            color: $violeta;
            font-size: scaleVW(55.28, $desktop);
            line-height: LH(66.33, 55.28);
            margin: 0;
        }
        @media(max-width:768px){
            padding: 0;
            width: 100%;
            text-align: center;
            display: block;
            p{
                font-size: scaleVW(20, $movil);
                line-height: LH(24, 20);
            }
        }
    }
}