.banner-erika-gordon-partial-bae786 {
    padding: scaleVW(45, $desktop) 0 scaleVW(85, $desktop) 0;
    @media(max-width:768px){
        padding-top: scaleVW(50, $movil);
        padding-bottom: scaleVW(50, $movil);
    }
    .content{
        width: scaleVW(1035.8303, $desktop);
        margin: 0 auto;
        @media(max-width:768px){
            width: scaleVW(390, $movil);
        }
        .image-contain{
            position: relative;
            text-align: center;
            width: scaleVW(831, $desktop);
            margin: 0 auto;
            img{
                width: scaleVW(831, $desktop);
                height: scaleVW(1046, $desktop);
                object-fit: cover;
                object-position: center;
                mix-blend-mode: multiply;
                @media(max-width:768px){
                    width: scaleVW(280.1832, $movil);
                    height: scaleVW(373.5777, $movil);
                }
            }
            @media(max-width:768px){
                width: max-content;
            }
        }
        h1{
            margin-top: scaleVW(0, $desktop);
            color: $primary;
            font-size: scaleVW(38.34, $desktop);
            line-height: LH(46, 38.34);
            text-align: center;
            font-family: $title;
            font-weight: 700;
            text-transform: uppercase;
            font-style: italic;
            display: flex;
            gap: scaleVW(30, $desktop);
            justify-content: center;
            align-items: center;
            letter-spacing: scaleVW(4, $desktop);
            margin-bottom: scaleVW(42, $desktop);
            span{
                font-size: scaleVW(27.31, $desktop);
                line-height: LH(32.77, 27.31);
                font-weight: 200;
                font-style: normal;
            }
            @media(max-width:768px){
                flex-direction: column;
                margin-top: scaleVW(32, $movil);
                margin-bottom: scaleVW(28, $movil);
                font-size: scaleVW(25.49, $movil);
                line-height: LH(30.59, 25.49);
                span{
                    font-size: scaleVW(21.27, $movil);
                    line-height: LH(25.53, 21.27);
                }
            }
        }
        h3{
            font-family: $title;
            display: flex;
            color: $primary;
            gap: scaleVW(30, $desktop);
            justify-content: center;
            align-items: center;
            font-size: scaleVW(33.49, $desktop);
            line-height: LH(40.19, 33.49);
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: scaleVW(2, $desktop);
            margin-bottom: scaleVW(36, $desktop);
            @media(max-width:768px){
                gap: scaleVW(20, $movil);
                font-size: scaleVW(22, $movil);
                line-height: LH(26, 22);
                letter-spacing: scaleVW(2, $movil);
                margin-bottom: scaleVW(30, $movil);
            }
        }
        .description{
            font-family: $title;
            color: $primary;
            text-align: center;
            h2{
                font-size: scaleVW(41.08, $desktop);
                line-height: LH(49.29, 41.08);
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: scaleVW(2, $desktop);
                @media(max-width:768px){
                    font-size: scaleVW(18, $movil);
                    line-height: LH(24, 18);
                }
            }
        }
        .son-contain{
            width:350px;
            margin:0 auto;
        }
        @media(max-width:640px){
            .son-contain{
                width:270px;
            }
        }
        @media(max-width:768px){
            #header-wrapper h2{
                font-size:calc(1rem + .9vw) !important;
            }
        }
        .mejs-time.mejs-duration-container, .mejs-time.mejs-currenttime-container, .mejs-controls a.mejs-horizontal-volume-slider{
            display:none;
        }
        .mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
            background: transparent !important;
        }
        .mejs-button{
            color:rgb(106,86,80) !important;
        }
        .mejs-controls .mejs-time-rail .mejs-time-current{
            background:rgb(106,86,80) !important;
        }
        #item-3.list-two{
            padding-top:0 !important;
            padding-bottom:0;
        }
        .list-two .image-contain{
            text-align:center;
        }
        .list-two .image-contain img{
            max-width:200px;
        }
        .itinerary-partial-d9f4c7 #item-3 .date p {
            font-family: "Bodoni Moda";
            font-style:italic;
        }
        .list-two .main-texts::after{
            display:none
        }
        #item-3 .date{
            position:relative;
        }
        #item-3 .date::after{
            content: "";
            width: 185px;
            height: 1px;
            background: var(--main-color);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 1rem);
        }
        .list-two .date::after{
            display:none;
        }
        .list-two .the-itinerary{
            margin-bottom:2rem !important;
        }
        #item-4{
            padding-top:2rem;
        }
    }
}