.countdown-partial-3dfca8 {
    padding: scaleVW(109, $desktop) 0;
    background: $green_lt;
    @media(max-width:768px){
        padding: scaleVW(90, $movil) 0;
    }
    #counntdown{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $green;
        text-align: center;
        gap: scaleVW(184, $desktop);
        width: scaleVW(1540.1553, $desktop);
        margin: 0 auto;
        @media(max-width:768px){
            width: scaleVW(355.1783, $movil);
            gap: scaleVW(42, $movil);
        }
        .item-count{
            span{
                font-family: $title;
                font-size: scaleVW(30, $desktop);
                line-height: LH(36, 30);
                @media(max-width:768px){
                    font-size: scaleVW(12, $movil);
                    line-height: LH(36, 12);
                }
            }
            span:first-child{
                font-size: scaleVW(129.26, $desktop);
                line-height: LH(155.12, 129.26);
                margin-bottom: scaleVW(21, $desktop);
                @media(max-width:768px){
                    font-size: scaleVW(28.82, $movil);
                    line-height: LH(34.58, 28.82);
                    margin-bottom: scaleVW(5, $movil);
                }
            }
        }
    }
}
/*=========== Content count down after ===========*/
.content-after-count-down{
    background: $purple;
    padding: scaleVW(92, $desktop) 0;
    position: relative;
    @media(max-width:768px){
        padding: scaleVW(33, $movil);
    }
    .center-image{
        width: scaleVW(713.5816, $desktop);
        height: scaleVW(1069.9266, $desktop);
        margin: 0 auto;
        position: relative;
        .photo{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .logo{
            position: absolute;
            width: scaleVW(197.9766, $desktop);
            height: scaleVW(99.3857, $desktop);
            bottom: scaleVW(37, $desktop);
            right: scaleVW(-94, $desktop);
        }
        @media(max-width:768px){
            width: scaleVW(259.0435, $movil);
            height: scaleVW(388.4034, $movil);
            .logo{
                width: scaleVW(71.8692, $movil);
                height: scaleVW(36.0789, $movil);
                bottom: scaleVW(13.5, $movil);
                right: scaleVW(-34, $movil);
            }
        }
    }
    .img-left{
        width: scaleVW(353.6184, $desktop);
        height: scaleVW(439.5127, $desktop);
        position: absolute;
        left: scaleVW(176, $desktop);
        bottom: scaleVW(291, $desktop);
        animation: flower 3.5s ease-in-out infinite;
        @media(max-width:768px){
            width: scaleVW(60.5686, $movil);
            height: scaleVW(75.2808, $movil);
            left: 0;
            bottom: scaleVW(155, $movil);
        }
    }
    .right-img{
        position: absolute;
        width: scaleVW(326.5025, $desktop);
        height: scaleVW(340.0751, $desktop);
        right: scaleVW(236, $desktop);
        top: scaleVW(134, $desktop);
        animation: song 3.5s ease-in-out infinite;
        @media(max-width:768px){
            width: scaleVW(73.4096, $movil);
            height: scaleVW(76.4612, $movil);
            right: scaleVW(-9.6, $movil);
            top: scaleVW(15, $movil);
        }
    }
}