.hero-banner-partial-f313d1 {
    background: $orange_lt;
    padding-top: scaleVW(142, $desktop);
    padding-bottom: scaleVW(105, $desktop);
    position: relative;
    @media(max-width:768px){
        padding-bottom: scaleVW(40, $movil);
    }
    .content{ 
        width: scaleVW(1534, $desktop);
        margin: 0 auto;
        position: relative;
        @media(max-width:768px){
            width: scaleVW(360, $movil);
        }
        .gallery{
            display: flex;
            align-items: flex-end;
            gap: scaleVW(242, $desktop);
            .left, .right{
                width: scaleVW(310, $desktop);
                height: scaleVW(465, $desktop);
                padding-bottom: scaleVW(21, $desktop);
            }
            .center{
                width: scaleVW(446, $desktop);
                height: scaleVW(666, $desktop);
            }
            .a-couple{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media(max-width:768px){
                gap: scaleVW(23, $movil);
                display: none;
                .left, .right{
                    width: scaleVW(90.5844, $movil);
                    height: scaleVW(135.8766, $movil);
                    padding-bottom: scaleVW(10, $movil);
                }
                .center{
                    width: scaleVW(130.3247, $movil);
                    height: scaleVW(194.6104, $movil);
                }
            }
        }
        .gallery.movil{
            display: none;
            .center, .left, .right{
                text-align: center;
                width: scaleVW(180.5499, $movil);
                height: scaleVW(269.6104, $movil);
                margin: 0 auto;
            }
            @media(max-width:768px){
                display: block;
            }
        }
        .text-content{
            text-align: center;
            color: $orange;
            h1{
                font-family: $title;
                font-size: scaleVW(101.86, $desktop);
                line-height: LH(82.23, 101.86);
                margin-top: scaleVW(63, $desktop);
                padding-bottom: scaleVW(27, $desktop);
                @media(max-width:768px){
                    font-size: scaleVW(32, $movil);
                    line-height: LH(44, 32);
                    margin-bottom: scaleVW(8, $movil);
                }
            }
            .date-and-location{
                h2{
                    font-family: $title;
                    font-size: scaleVW(52.49, $desktop);
                    line-height: LH(62.99, 52.49);
                    margin-top: 0;
                    margin-bottom: scaleVW(43, $desktop);
                }
                p{
                    font-family: $title;
                    font-size: scaleVW(36, $desktop);
                    line-height: LH(43.2, 36);
                    margin: 0;
                }
                @media(max-width:768px){
                    h2{
                        font-size: scaleVW(25, $movil);
                        line-height: LH(36, 25);
                        margin-bottom: scaleVW(12, $movil);
                    }
                    p{
                        font-size: scaleVW(20, $movil);
                        line-height: LH(24, 20);
                    }
                }
            }
        }
    }
    // Ornament images 
    .bee-image{
        position: absolute;
        width: scaleVW(120.6526, $desktop);
        height: scaleVW(112.0851, $desktop);
        left: scaleVW(82, $desktop);
        bottom: scaleVW(145.5, $desktop);
        animation: bee 3.5s ease-in-out infinite;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media(max-width:768px){
            width: scaleVW(42.1312, $movil);
            height: scaleVW(39.1395, $movil);
        }
    }
    .rings-image{
        position: absolute;
        width: scaleVW(298.1641, $desktop);
        height: scaleVW(339.0037, $desktop);
        right: scaleVW(387, $desktop);
        top: scaleVW(-60, $desktop);
        animation: flower 3.5s ease-in-out infinite;
        z-index: 10;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}