.rsvp-partial-39366a {
    position: relative;
    padding: scaleVW(247.5, $desktop) 0 scaleVW(411, $desktop) 0;
    overflow: hidden;
    background: $pink;
    @media(max-width:768px){
        padding: scaleVW(38, $movil) 0 scaleVW(114, $movil) 0;
    }
    .form-content{
        width: scaleVW(1036.4141, $desktop);
        margin: 0 auto;
        position: relative;
        z-index: 1;
        @media(max-width:768px){
            width: scaleVW(212.126, $movil);
        }
        .title{
            color: $fucsia;
            text-align: center;
            font-size: scaleVW(92.72, $desktop);
            line-height: LH(111.27, 92.72);
            font-family: $title;
            margin-bottom: scaleVW(28, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(28.92, $movil);
                line-height: LH(34.7, 28.92);
                margin-bottom: scaleVW(6, $movil);
            }
        }
        .description{
            text-align: center;
            font-family: $text;
            color: $fucsia;
            font-size: scaleVW(39.46, $desktop);
            line-height: LH(47.36, 39.46);
            margin-bottom: scaleVW(57, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(16, $movil);
                line-height: LH(19.2, 16);
                margin-bottom: scaleVW(11.5, $movil);
            }
        }
        .cta-link{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            width: scaleVW(202, $desktop);
            height: scaleVW(68, $desktop);
            font-size: scaleVW(42.63, $desktop);
            line-height: LH(51.16, 42.63);
            color: #f7f2e6;
            text-decoration: none;
            font-family: $title;
            background: $fucsia;
            border: scaleVW(2, $desktop) solid $fucsia;
            transition: all;
            &:hover{
                background: transparent;
                color: $fucsia;
            }
            @media(max-width:768px){
                width: scaleVW(70.998, $movil);
                height: scaleVW(23.9003, $movil);
                font-size: scaleVW(14.98, $movil);
                line-height: LH(17.98, 14.98);
                border: scaleVW(2, $movil) solid $fucsia;
            }
        }
        .form{
            .intput-container{
                p{
                    text-align: center;
                    margin-bottom: scaleVW(69, $desktop);
                    label{
                        font-family: $title;
                        color: $black;
                        font-size: scaleVW(30, $desktop);
                        line-height: LH(36, 30);
                        @media(max-width:768px){
                            font-size: scaleVW(16, $movil);
                            line-height: LH(17.42, 16);
                            margin-bottom: scaleVW(36, $movil);
                        }
                    }
                    input, textarea{
                        font-family: $title;
                        color: $black;
                        font-size: scaleVW(27, $desktop);
                        line-height: LH(36, 27);
                        text-align: center;
                        width: 100%;
                        height: scaleVW(88, $desktop);
                        background: transparent;
                        border: none;
                        outline: none;
                        border-bottom: scaleVW(1.5, $desktop) solid $black;
                        @media(max-width:768px){
                            font-size: scaleVW(14.52, $movil);
                            line-height: LH(17.42, 14.52);
                            margin-bottom: scaleVW(36, $movil);
                            border-bottom: scaleVW(1.5, $movil) solid $black;
                            height: scaleVW(42, $movil);
                        }
                    }
                    textarea{
                        height: scaleVW(94, $desktop);
                    }
                }
            }
            .radio-contain{
                p{
                    text-align: center;
                    margin-bottom: scaleVW(69, $desktop);
                    label{
                        font-family: $title;
                        color: $black;
                        font-size: scaleVW(30, $desktop);
                        line-height: LH(36, 30);
                        margin-bottom: scaleVW(64, $desktop);
                        @media(max-width:768px){
                            font-size: scaleVW(14.52, $movil);
                            line-height: LH(17.42, 14.52);
                            margin-bottom: scaleVW(36, $movil);
                        }
                    }
                    .wpcf7-radio{
                        display: flex;
                        flex-direction: column;
                        width: scaleVW(306.9805, $desktop);
                        margin: 0 auto;
                        align-items: flex-start;
                        @media(max-width:768px){
                            width: scaleVW(148.5832, $movil);
                        }
                        .wpcf7-list-item{
                            margin: 0;
                            label{
                                display: flex;
                                align-items: center;
                                gap: scaleVW(44, $desktop);
                                margin-bottom: scaleVW(34, $desktop);
                                cursor: pointer;
                                @media(max-width:768px){
                                    gap: scaleVW(21, $movil);
                                    margin-bottom: scaleVW(16, $movil);
                                }
                                input{
                                    display: none;
                                }
                                .radio-animate{
                                    position: relative;
                                    width: scaleVW(36, $desktop);
                                    height: scaleVW(36, $desktop);
                                    border: scaleVW(1.5, $desktop) solid $black;
                                    border-radius: 50%;
                                    padding: scaleVW(3, $desktop);
                                    &::after{
                                        content: '';
                                        display: none;
                                        width: scaleVW(28, $desktop);
                                        height: scaleVW(28, $desktop);
                                        background: $black;
                                        border-radius: 50%;
                                        position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                    @media(max-width:768px){
                                        width: scaleVW(17.4245, $movil);
                                        height: scaleVW(17.4245, $movil);
                                        border: scaleVW(1.5, $movil) solid $black;
                                        border-radius: 50%;
                                        padding: scaleVW(1, $movil);
                                        &::after{
                                            width: scaleVW(10, $movil);
                                            height: scaleVW(10, $movil);
                                        }
                                    }
                                }
                            }
                        }
                        .wpcf7-list-item:last-child{
                            label{
                                margin-bottom: 0;
                            }
                        }
                        .wpcf7-list-item.active{
                            label{
                                .radio-animate{
                                    &::after{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .submit-container{
                p{
                    margin-bottom: 0;
                    position: relative;
                    input{
                        width: scaleVW(202, $desktop);
                        height: scaleVW(68, $desktop);
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $third;
                        background: $four;
                        border: none;
                        outline: none;
                        font-family: $title;
                        font-size: scaleVW(30, $desktop);
                        line-height: LH(36, 30);
                        @media(max-width:768px){
                            width: scaleVW(97.771, $movil);
                            height: scaleVW(32.913, $movil);
                            font-size: scaleVW(16, $movil);
                            line-height: LH(17.42, 16);
                        }
                    }
                    .wpcf7-spinner{
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0);
                        margin: 0;
                    }
                }
            }
        }
    }
    .svg-bee{
        width: scaleVW(120.6526, $desktop);
        height: scaleVW(112.0851, $desktop);
        position: absolute;
        left: scaleVW(138, $desktop);
        top: scaleVW(411, $desktop);
        animation: beeTwo 3.5s ease-in-out infinite;
        @media(max-width:768px){
            width: scaleVW(37.6269, $movil);
            height: scaleVW(34.955, $movil);
            left: scaleVW(24, $movil);
            top: scaleVW(12, $movil);
        }
    }
    .bakground-imagen{
        width: scaleVW(2160, $desktop);
        height: scaleVW(860, $desktop);
        position: absolute;
        left: scaleVW(-121, $desktop);
        top: scaleVW(420, $desktop);
        @media(max-width:768px){
            left: 50%;
            transform: translateX(-50%);
            top: inherit;
            bottom: scaleVW(-40, $movil);
        }
    }
}