#faqs-template-be8fe8 {
    .title{
        padding: scaleVW(117, $desktop) 0 scaleVW(83, $desktop) 0;
        @media(max-width:768px){
            padding: scaleVW(57, $movil) 0 scaleVW(37, $movil) 0;
        }
        h1{
            margin: 0;
            text-align: center;
            font-family: $title;
            font-size: scaleVW(92.72, $desktop);
            line-height: LH(111.27, 92.72);
            color: $primary;
            @media(max-width:768px){
                font-size: scaleVW(30.26, $movil);
                line-height: LH(27.9, 30.26);
            }
        }
    }
    .faqs{
        padding: scaleVW(56, $desktop) 0;
        @media(max-width:768px){
            padding: scaleVW(45, $movil);
        }
        .title{
            padding: 0;
            h2{
                margin: 0;
                text-align: center;
                font-family: $title;
                font-size: scaleVW(52.62, $desktop);
                line-height: LH(63.14, 52.62);
                color: $primary;
                font-weight: 400;
                margin-bottom: scaleVW(81, $desktop);
                @media(max-width:768px){
                    font-size: scaleVW(22, $movil);
                    line-height: LH(23.01, 22);
                    margin-bottom: scaleVW(20, $movil);
                }
            }
        }
        .faqs-list{
            max-width: scaleVW(1352.776, $desktop);
            padding-left: scaleVW(129, $desktop);
            @media(max-width:768px){
                max-width: scaleVW(307, $movil);
                margin: 0 auto;
                padding: 0;
            }
            .the-item{
                display: flex;
                gap: scaleVW(48, $desktop);
                margin-bottom: scaleVW(10, $desktop);
                @media(max-width:768px){
                    gap: scaleVW(10, $movil);
                    margin-bottom: scaleVW(10, $movil);
                    flex-direction: column;
                }
                .icon{
                    width: scaleVW(47, $desktop);
                    img{
                        width: 100%;
                        height: auto;
                        filter: brightness(.1);
                    }
                    @media(max-width:768px){
                        width: scaleVW(25, $movil);
                    }
                }
                .question-and-answer{
                    font-family: $title;
                    font-style: italic;
                    color: #404041;
                    width: scaleVW(1364.7291, $desktop);
                    h3, strong{
                        font-size: scaleVW(21, $desktop);
                        line-height: LH(25.2, 21);
                        font-weight: 600;
                        font-style: italic;
                        margin-bottom: scaleVW(34, $desktop);
                        @media(max-width:768px){
                            font-size: scaleVW(16, $movil);
                            line-height: LH(19.2, 16);
                        }
                    }
                    p{
                        font-size: scaleVW(21, $desktop);
                        line-height: LH(25.2, 21);
                        margin-bottom: scaleVW(34, $desktop);
                        @media(max-width:768px){
                            font-size: scaleVW(16, $movil);
                            line-height: LH(19.2, 16);
                        }
                    }
                }
            }
        }
    }
}