#hotel-template-caaf6c {
    background: $green_lt;
    .main-content{
        .text-content{
            text-align: center;
            h1{
                font-family: $title;
                color: $green;
                font-size: scaleVW(72, $desktop);
                line-height: LH(66.4, 72);
                margin: 0;
                margin-bottom: scaleVW(122, $desktop);
                @media(max-width:768px){
                    font-size: scaleVW(30.26, $movil);
                    line-height: LH(27.9, 30.26);
                    margin-bottom: scaleVW(48, $movil);
                }
            }
        }
    }
    /*=========== Hotel section ============*/
    .hotels{
        .content{
            width: scaleVW(1681, $desktop);
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: scaleVW(81, $desktop);
            padding-bottom: scaleVW(195, $desktop);
            @media(max-width:768px){
                gap: scaleVW(58, $movil);
            }
            .hotel{
                width: scaleVW(800, $desktop);
                @media(max-width:768px){
                    width: scaleVW(360, $movil);
                }
                .hotel-image{
                    width: scaleVW(800, $desktop);
                    height: scaleVW(533, $desktop);
                    margin-bottom: scaleVW(47, $desktop);
                    @media(max-width:768px){
                        width: scaleVW(336.1891, $movil);
                        height: scaleVW(223.986, $movil);
                        margin-bottom: scaleVW(18, $movil);
                    }
                }
                .text-content{
                    width: scaleVW(738, $desktop);
                    margin: 0 auto;
                    @media(max-width:768px){
                        width: scaleVW(310.1345, $movil);
                    }
                    .name{
                        font-family: $title;
                        color: $green;
                        font-size: scaleVW(39.46, $desktop);
                        line-height: LH(47.36, 39.46);
                        margin-top: 0;
                        @media(max-width:768px){
                            font-size: scaleVW(19, $movil);
                            line-height: LH(22.8, 19);
                            margin-bottom: scaleVW(10, $movil);
                        }
                    }
                    .google-maps{
                        text-decoration: none;
                        display: flex;
                        font-family: $text;
                        color: $green;
                        font-size: scaleVW(24, $desktop);
                        line-height: LH(28.8, 24);
                        margin-bottom: scaleVW(26, $desktop);
                        @media(max-width:768px){
                            font-size: scaleVW(16, $movil);
                            line-height: LH(19.2, 16);
                            margin-bottom: scaleVW(18, $movil);
                        }
                    }
                    .description{
                        font-family: $text;
                        color: $green;
                        font-size: scaleVW(21, $desktop);
                        line-height: LH(25.2, 21);
                        margin-bottom: scaleVW(72, $desktop);
                        @media(max-width:768px){
                            font-size: scaleVW(16, $movil);
                            line-height: LH(19.2, 16);
                            margin-bottom: scaleVW(16, $movil);
                        }
                    }
                    .cta{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: scaleVW(738, $desktop);
                        height: scaleVW(90, $desktop);
                        font-family: $title;
                        font-size: scaleVW(39.46, $desktop);
                        line-height: LH(47.36, 39.46);
                        text-decoration: none;
                        @media(max-width:768px){
                            width: scaleVW(310.1345, $movil);
                            height: scaleVW(37.8213, $movil);
                            font-size: scaleVW(18, $movil);
                            line-height: LH(21.6, 18);
                        }
                    }
                    .primary-button{
                        background: $green;
                        color: $green_lt;
                        margin-bottom: scaleVW(20, $desktop);
                        @media(max-width:768px){
                            margin-bottom: scaleVW(8, $movil);
                        }
                    }
                    .secondary-button{
                        background: $pink;
                        color: $violeta;
                    }
                }
            }
        }
    }
    /*========= End content =========*/
    .end-content{
        h2{
            color: #5b4c4b;
            font-family: $title;
            font-size: scaleVW(48, $desktop);
            line-height: LH(57.6, 48);
            letter-spacing: scaleVW(4, $desktop);
            text-align: center;
            margin-bottom: scaleVW(80, $desktop);
            @media(max-width:768px){
                font-size: scaleVW(24, $movil);
                line-height: LH(28.8, 24);
                letter-spacing: scaleVW(4, $movil);
                margin-bottom: scaleVW(23, $movil);
            }
        }
        .top-content{
            display: flex;
            align-items: center;
            width: scaleVW(1623.5, $desktop);
            margin: 0 auto scaleVW(120, $desktop) auto;
            gap: scaleVW(73, $desktop);
            @media(max-width:768px){
                flex-direction: column;
                width: scaleVW(307, $movil);
                gap: scaleVW(21, $movil);
                padding-bottom: scaleVW(50, $movil);
            }
            .left{
                width: scaleVW(863, $desktop);
                h3{
                    position: relative;
                    margin-bottom: scaleVW(29, $desktop);
                    display: flex;
                    align-items: center;
                    span{
                        color: $green_lt;
                        font-size: scaleVW(24, $desktop);
                        line-height: LH(28.8, 24);
                        font-family: $text;
                        font-weight: 400;
                        position: relative;
                        z-index: 1;
                        strong{
                            font-weight: 600;
                        }
                    }
                    &::after{
                        content: '';
                        width: scaleVW(937.867, $desktop);
                        height: scaleVW(67, $desktop);
                        position: absolute;
                        left: scaleVW(-170, $desktop);
                        top: 50%;
                        transform: translateY(-50%);
                        background: $green;
                    }
                }
                .description{
                    color: $green;
                    font-size: scaleVW(24, $desktop);
                    line-height: LH(28.8, 24);
                    font-family: $text;
                    font-weight: 400;
                }
                @media(max-width:768px){
                    width: scaleVW(307, $movil);
                    h3{
                        margin-bottom: scaleVW(15, $movil);
                        span{
                            font-size: scaleVW(18, $movil);
                            line-height: LH(21.6, 18);
                        }
                        &::after{
                            width: scaleVW(364.5, $movil);
                            height: scaleVW(58.1602, $movil);
                            left: - scaleVW(41, $movil);
                        }
                    }
                    .description{
                        font-size: scaleVW(16, $movil);
                        line-height: LH(19.2, 16);
                        margin-bottom: 0;
                        p:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .right{
                width: scaleVW(688, $desktop);
                img{
                    width: 100%;
                    height: scaleVW(387, $desktop);
                }
                @media(max-width:768px){
                    width: scaleVW(307, $movil);
                    img{
                        height: scaleVW(172.6875, $movil);
                    }
                }
            }
        }
        .bottom-content{
            display: flex;
            width: scaleVW(1623, $desktop);
            gap: scaleVW(82, $desktop);
            margin: 0 auto;
            align-items: end;
            padding-bottom: scaleVW(262, $desktop);
            @media(max-width:768px){
                flex-direction: column;
                width: scaleVW(307, $movil);
                gap: scaleVW(21, $movil);
                padding-bottom: scaleVW(50, $movil);
            }
            .left{
                width: scaleVW(760.5, $desktop);
                h3{
                    position: relative;
                    margin-bottom: scaleVW(24, $desktop);
                    display: flex;
                    align-items: center;
                    span{
                        color: $green_lt;
                        font-size: scaleVW(24, $desktop);
                        line-height: LH(28.8, 24);
                        font-family: $text;
                        font-weight: 400;
                        position: relative;
                        z-index: 1;
                        strong{
                            font-weight: 600;
                        }
                    }
                    &::after{
                        content: '';
                        width: scaleVW(408.0169, $desktop);
                        height: scaleVW(67, $desktop);
                        position: absolute;
                        left: - scaleVW(154, $desktop);
                        top: 50%;
                        transform: translateY(-50%);
                        background: $green;
                    }
                }
                .description{
                    color: $green;
                    font-size: scaleVW(24, $desktop);
                    line-height: LH(28.8, 24);
                    font-family: $text;
                    font-weight: 400;
                }
                @media(max-width:768px){
                    width: scaleVW(307, $movil);
                    h3{
                        margin-bottom: scaleVW(15, $movil);
                        span{
                            font-size: scaleVW(18, $movil);
                            line-height: LH(21.6, 18);
                            font-weight: 500;
                        }
                        &::after{
                            width: scaleVW(229.9971, $movil);
                            height: scaleVW(37.7676, $movil);
                            left: - scaleVW(41, $movil);
                        }
                    }
                    .description{
                        font-size: scaleVW(16, $movil);
                        line-height: LH(19.2, 16);
                        margin-bottom: 0;
                        p:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .right{
                width: scaleVW(760.5, $desktop);
                .description{
                    color: $green;
                    font-size: scaleVW(24, $desktop);
                    line-height: LH(28.8, 24);
                    font-family: $text;
                    font-weight: 400;
                }
                @media(max-width:768px){
                    width: scaleVW(307, $movil);
                    .description{
                        font-size: scaleVW(16, $movil);
                        line-height: LH(19.2, 16);
                        margin-bottom: 0;
                        p:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}