#our-history-template-75da3c {
    .our-history{
        position: relative;
        padding: scaleVW(136, $desktop) scaleVW(237, $desktop) scaleVW(193, $desktop) scaleVW(237, $desktop);
        overflow: hidden;
        width: 100%;
        @media(max-width:768px){
            padding: scaleVW(43, $movil) 0;
        }
        img{
            width: scaleVW(1874.1395, $desktop);
            height: scaleVW(3682.6534, $desktop);
            position: absolute;
            left: scaleVW(45, $desktop);
            top: scaleVW(37, $desktop);
            @media(max-width:768px){
                width: scaleVW(741.0835, $movil);
                height: scaleVW(1456.2169, $movil);
                left: - scaleVW(182, $movil);
                top: scaleVW(17, $movil);
            }
        }
        .text-content{
            width: scaleVW(1446, $desktop);
            height: scaleVW(2329, $desktop);
            padding: scaleVW(96, $desktop) scaleVW(110, $desktop);
            background: $third;
            position: relative;
            z-index: 1;
            @media(max-width:768px){
                width: scaleVW(365.3096, $movil);
                min-height: scaleVW(632.1634, $movil);
                height: auto;
                padding: scaleVW(35, $movil) 0;
                margin: 0 auto;
            }
            h1{
                width: scaleVW(452.644, $desktop);
                height: scaleVW(151.9727, $desktop);
                font-size: scaleVW(72, $desktop);
                line-height: LH(66.4, 72);
                letter-spacing: scaleVW(14, $desktop);
                margin: 0 auto;
                margin-bottom: scaleVW(150, $desktop);
                font-family: $title;
                color: $primary;
                text-transform: uppercase;
                text-align: center;
                @media(max-width:768px){
                    width: 100%;
                    height: scaleVW(62.6553, $movil);
                    font-size: scaleVW(30, $movil);
                    line-height: LH(27, 30);
                    letter-spacing: scaleVW(14, $movil);
                    margin-bottom: scaleVW(23, $movil);
                }
            }
            h2{
                width: scaleVW(962.2569, $desktop);
                height: scaleVW(304.9406, $desktop);
                font-size: scaleVW(94.78, $desktop);
                line-height: LH(101.74, 94.78);
                font-family: $title;
                color: $primary;
                font-style: italic;
                margin: 0 auto;
                text-align: center;
                margin-bottom: scaleVW(30, $desktop);
                @media(max-width:768px){
                    width: scaleVW(243.0994, $movil);
                    height: scaleVW(77.0385, $movil);
                    font-size: scaleVW(27, $movil);
                    line-height: LH(25.7, 27);
                }
            }
            .description{
                color: $primary;
                font-family: $title;
                font-size: scaleVW(39.46, $desktop);
                line-height: LH(47.36, 39.46);
                margin-bottom: 0;
                width: scaleVW(1226, $desktop);
                min-height: scaleVW(1545.3779, $desktop);
                height: auto;
                @media(max-width:768px){
                    font-size: scaleVW(15, $movil);
                    line-height: LH(18, 15);
                    width: scaleVW(309.73, $movil);
                    min-height: scaleVW(390.4159, $movil);
                    height: auto;
                    margin: 0 auto;
                }
            }
        }
    }
}