#wedding-details-template-f21090 {
    position: relative;
    overflow: hidden;
    .title-contain{
        padding: scaleVW(113, $desktop) 0 0 0;
        @media(max-width:768px){
            padding: scaleVW(49, $movil) 0 scaleVW(13, $movil) 0;
        }
        h1{
            font-size: scaleVW(92.72, $desktop);
            line-height: LH(111.27, 92.72);
            margin-bottom: 0;
            font-family: $title;
            color: $primary;
            text-align: center;
            @media(max-width:768px){
                font-size: scaleVW(26, $movil);
                line-height: LH(24, 26);
            }
        }
    }
    /*======== Wedding detail ========*/
    .wedding-details{
        .item{
            padding: scaleVW(141, $desktop) 0;
            width: scaleVW(1605.895, $desktop);
            margin: 0 auto;
            position: relative;
            display: flex;
            gap: scaleVW(100, $desktop);
            align-items: center;
            &::after{
                content: '';
                width: scaleVW(1386.1476, $desktop);
                height: scaleVW(1, $desktop);
                background: $black;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            .left{
                width: scaleVW(279.8633, $desktop);
                margin-bottom: 4vw;
                p{
                    color: $primary;
                    font-family: $title;
                    font-size: scaleVW(55.28, $desktop);
                    line-height: LH(66.33, 55.28);
                    margin: 0;
                }
            }
            .center{
                position: relative;
                .replace-image{
                    width: scaleVW(910, $desktop);
                    height: scaleVW(602, $desktop);
                    background: $four;
                    display: block;
                }
                img{
                    width: scaleVW(910, $desktop);
                    height: scaleVW(602, $desktop);
                    object-position: center;
                    object-fit: cover;
                }
                .text{
                    transform: translateY(- scaleVW(22, $desktop));
                    text-align: center;
                    @media(max-width:768px){
                        transform: translateY(- scaleVW(7, $movil));
                    }
                    h2{
                        font-family: $title;
                        color: #3f3f3f;
                        font-size: scaleVW(65.78, $desktop);
                        line-height: 1;
                        margin-bottom: 0;
                        font-weight: 500;
                        @media(max-width:768px){
                            font-size: scaleVW(18, $movil);
                        }
                    }
                    h3{
                        font-family: $title;
                        color: $primary;
                        font-size: scaleVW(55.28, $desktop);
                        line-height: 1;
                        margin-bottom: 0;
                        font-weight: 500;
                        @media(max-width:768px){
                            font-size: scaleVW(16, $movil);
                        }
                    }
                }
            }
            .right{
                width: scaleVW(279.8633, $desktop);
                text-align: center;
                margin-bottom: 4vw;
                p{
                    color: $primary;
                    font-family: $title;
                    font-size: scaleVW(55.28, $desktop);
                    line-height: LH(66.33, 55.28);
                    margin: 0;
                }
            }
        }
        .item:last-child{
            &::after{
                display: none;
            }
        }
    }
    // Description
    .description{
        padding-bottom: scaleVW(141, $desktop);
        @media(max-width:768px){
            padding-bottom: scaleVW(40, $movil);
        }
        .content{
            width: scaleVW(1292, $desktop);
            margin: 0 auto;
            text-align: center;
            h2{
                font-size: scaleVW(65.78, $desktop);
                line-height: LH(78.93, 65.78);
                font-family: $title;
                color: #3f3f3f;
                margin-bottom: scaleVW(43, $desktop);
            }
            p{
                @media(max-width:768px){
                    height: max-content;
                    margin: 0;
                }
            }
            h3{
                font-size: scaleVW(55.28, $desktop);
                line-height: LH(66.33, 55.28);
                font-family: $title;
                color: $primary;
                margin-bottom: 0;
            }
        }
    }
}