#wedding-details-template-f21090 {
    position: relative;
    overflow: hidden;
    .last-image{
        position: absolute;
        width: scaleVW(371.6629, $desktop);
        height: scaleVW(404.5318, $desktop);
        right: scaleVW(68, $desktop);
        bottom: 0;
        transform: translateY(scaleVW(38, $desktop));
    }
    .title-contain{
        padding: scaleVW(97, $desktop) 0 scaleVW(113, $desktop) 0;
        @media(max-width:768px){
            padding: scaleVW(49, $movil) 0 scaleVW(13, $movil) 0;
        }
        position: relative;
        .main-image{
            position: absolute;
            width: scaleVW(670.6731, $desktop);
            height: scaleVW(490.375, $desktop);
            left: - scaleVW(102, $desktop);
            top: scaleVW(44, $desktop);
            @media(max-width:768px){
                width: scaleVw(134.0826, $movil);
                height: scaleVW(98.0369, $movil);
                left: - scaleVW(60, $movil);
                top: scaleVW(44, $movil);
            }
        }
        h1{
            width: scaleVW(596.5049, $desktop);
            height: scaleVW(151.9727, $desktop);
            font-size: scaleVW(72, $desktop);
            line-height: LH(66.4, 72);
            letter-spacing: scaleVW(14, $desktop);
            margin: 0 auto;
            margin-bottom: 0;
            font-family: $bodoni;
            color: $primary;
            text-transform: uppercase;
            text-align: center;
            @media(max-width:768px){
                width: 61.944436vw;
                height: scaleVW(62.6553, $movil);
                font-size: scaleVW(26, $movil);
                line-height: LH(24, 26);
                letter-spacing: scaleVW(8, $movil);
                margin-bottom: 0;
            }
        }
    }
    /*======== Wedding detail ========*/
    .wedding-detail{
        padding: 0 0 scaleVW(294, $desktop) 0;
        @media(max-width:768px){
            padding-bottom: scaleVW(77, $movil);
        }
        .title-content{
            @media(max-width:768px){
                padding-left: scaleVW(27, $movil);
                padding-right: scaleVW(27, $movil);
            }
            h2{
                font-family: $big_caslon;
                color: $primary;
                font-size: scaleVW(168.69, $desktop);
                line-height: LH(202.43, 168.69);
                display: flex;
                align-items: center;
                gap: scaleVW(59, $desktop);
                justify-content: center;
                height: scaleVW(211.46, $desktop);
                margin-bottom: scaleVW(74, $desktop);
                span{
                    display: block;
                    width: scaleVW(19.4127, $desktop);
                    height: scaleVW(19.4127, $desktop);
                    background: $four;
                    border-radius: 50%;
                    transform: translateY(1vw);
                }
                @media(max-width:768px){
                    font-size: scaleVW(33.73, $movil);
                    line-height: LH(40.47, 33.73);
                    height: scaleVW(42.2756, $movil);
                    margin-bottom: scaleVW(29, $movil);
                    span{
                        width: scaleVW(3.2779, $movil);
                        height: scaleVW(3.2779, $movil);
                    }
                }
            }
            h3{
                text-align: center;
                font-family: $big_caslon;
                color: $primary;
                font-size: scaleVW(48, $desktop);
                line-height: LH(57.6, 48);
                height: scaleVW(74.1113, $desktop);
                margin-bottom: scaleVW(126, $desktop);
                @media(max-width:768px){
                    font-size: scaleVW(20, $movil);
                    line-height: LH(24, 20);
                    height: scaleVW(24.7039, $movil);
                    margin-bottom: scaleVW(20, $movil);
                }
            }
        }
        .event-image{
            height: scaleVW(978, $desktop);
            width: 100%;
            object-fit: cover;
            object-position: center;
            margin-bottom: scaleVW(121, $desktop);
        }
        .end-content{
            @media(max-width:768px){
                padding-left: scaleVW(27, $movil);
                padding-right: scaleVW(27, $movil);
            }
            .event-location{
                text-align: center;
                h4{
                    color: $primary;
                    font-family: $big_caslon;
                    font-size: scaleVW(48, $desktop);
                    line-height: LH(57.6, 48);
                    height: scaleVW(74.1113, $desktop);
                    margin-bottom: scaleVw(38, $desktop);
                }
                p{
                    font-family: $bodoni;
                    color: $primary;
                    font-size: scaleVW(42.7139, $desktop);
                    line-height: LH(101.74, 42.7139);
                    margin-bottom: scaleVW(52, $desktop);
                    font-style: italic;
                }
                @media(max-width:768px){
                    h4{
                        font-size: scaleVW(19.31, $movil);
                        line-height: LH(23.17, 19.31);
                        height: scaleVW(29.8073, $movil);
                        margin-bottom: scaleVw(16, $movil);
                    }
                    p{
                        font-size: scaleVW(16, $movil);
                        line-height: LH(40.92, 16);
                        margin-bottom: scaleVW(19, $movil);
                    }
                }
            }
            .cta{
                display: flex;
                align-items: center;
                justify-content: center;
                width: scaleVW(738, $desktop);
                height: scaleVW(90, $desktop);
                margin: 0 auto scaleVW(132, $desktop) auto;
                font-size: scaleVW(39.46, $desktop);
                line-height: LH(47.36, 39.46);
                font-style: italic;
                font-family: $bodoni;
                color: $third;
                background: $primary;
                text-decoration: none;
                transition: .2s;
                &:hover{
                    transform: scale(.9);
                }
                @media(max-width:768px){
                    width: scaleVw(296.8197, $movil);
                    height: scaleVW(36.1975, $movil);
                    margin: 0 auto scaleVW(52, $movil) auto;
                    font-size: scaleVW(16, $movil);
                    line-height: LH(19.2, 16);
                }
            }
            .description{
                text-align: center;
                h4{
                    color: $primary;
                    font-family: $big_caslon;
                    font-size: scaleVW(48, $desktop);
                    line-height: LH(57.6, 48);
                    height: scaleVW(74.1113, $desktop);
                    margin-bottom: scaleVw(38, $desktop);
                }
                p{
                    font-family: $bodoni;
                    color: $primary;
                    font-size: scaleVW(36, $desktop);
                    line-height: LH(54, 36);
                    font-style: italic;
                }
                a{
                    color: $primary;
                    text-decoration: none;
                }
                p:last-child{
                    margin-bottom: 0;
                }
                @media(max-width:768px){
                    h4{
                        font-size: scaleVW(19.31, $movil);
                        line-height: LH(23.17, 19.31);
                        height: scaleVW(29.8073, $movil);
                        margin-bottom: scaleVw(16, $movil);
                    }
                    p{
                        font-size: scaleVW(16, $movil);
                        line-height: LH(40.92, 16);
                        margin-bottom: scaleVW(19, $movil);
                    }
                }
            }
        }
    }
    .wedding-detail:last-child{
        padding-bottom: scaleVW(93, $desktop);
    }
}