.footer-partial-f2356c {
    width: 100%;
    height: scaleVW(320, $desktop);
    padding: scaleVW(145, $desktop) scaleVW(155, $desktop);
    background-size: cover;
    p{
        text-align: right;
        font-family: $raleway;
        color: $white;
        font-size: scaleVW(18.83, $desktop);
        line-height: LH(22.6, 18.83);
        margin-bottom: 0;
    }
    @media(max-width:768px){
        height: scaleVW(320, $movil);
        padding: scaleVW(145, $movil) scaleVW(27, $movil);
        background-position: center;
        p{
            font-size: scaleVW(16, $movil);
            line-height: LH(22.92, 16);
            text-align: center;
        }
    }
}
.footer-partial-f2356c.apricot{
    background: $orange;
    p{
        color: $orange_lt;
    }
}
.footer-partial-f2356c.lavender-pink{
    background: $fucsia;
    p{
        color: $pink;
    }
}
.footer-partial-f2356c.thistle{
    background: $violeta;
    p{
        color: $purple;
    }
}
.footer-partial-f2356c.straw{
    background: $green;
    p{
        color: $green_lt;
    }
}