.header-partial-f00228 {
    padding-top: scaleVW(49, $desktop);
    @media(max-width:768px){
        padding-top: scaleVW(25, $movil);
    }
    .content{
        width: scaleVW(1306.7671, $desktop);
        margin: 0 auto;
        position: relative;
        .logo{
            position: absolute;
            width: scaleVW(97.4406, $desktop);
            height: scaleVW(115.0507, $desktop);
            left: - scaleVW(195, $desktop);
            a{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        @media(max-width:768px){
            width: scaleVW(340, $movil);
            position: relative;
            height: 9vw;
            .logo{
                left: 0;
                width: scaleVW(33.0307, $movil);
                height: scaleVW(39.0002, $movil);
                transform: translateY(-2vw);
            }
        }
        h2{
            font-size: scaleVW(67, $desktop);
            line-height: LH(80.4, 67);
            text-align: center;
            margin-bottom: scaleVW(52, $desktop);
            -webkit-text-fill-color: transparent;
            color: transparent;
            font-family: $annabelle;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: cover;
            background-position: center;
            @media(max-width:768px){
                font-size: scaleVW(26, $movil);
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
            }
        }
        .bar-menu{
            display: none;
            width: scaleVW(30, $movil);
            height: scaleVW(20, $movil);
            flex-direction: column;
            justify-content: space-between;
            margin-left: auto;
            z-index: 2;
            position: relative;
            span{
                width: scaleVW(30, $movil);
                height: scaleVW(1.9, $movil);
                background: $primary;
            }
            @media(max-width:768px){
                display: flex;
            }   
        }
        .menu-light{
            span{
                background: $third;
            }
        }
        .bar-menu.active{
            top: 10px;
            .top{
                position: absolute;
                transform: rotate(45deg);
            }
            .bottom{
                transform: rotate(-45deg);
            }
            .center{
                display: none;
            }
        }
        .the-nav{
            ul{
                display: flex;
                list-style: none;
                align-items: center;
                margin: 0;
                padding: 0;
                justify-content: center;
                gap: scaleVW(66, $desktop);
                li{
                    a{
                        color: $primary;
                        font-size: scaleVW(18, $desktop);
                        line-height: LH(21.6, 18);
                        font-family: $bodoni;
                        text-decoration: none;
                    }
                    .active{
                        font-weight: 700;
                    }
                }
            }
            @media(max-width:768px){
                position: absolute;
                right: -100%;
                top: 0;
                height: 100vh;
                width: 70%;
                padding: 0 3vw;
                transition: .2s;
                transform: translateX(scaleVW(25, $movil));
                z-index: 1;
                ul{
                    flex-direction: column;
                    gap: scaleVW(6, $movil);
                    align-items: baseline;
                    li{
                        a{
                            text-align: right;
                            font-size: scaleVW(16, $movil);
                            line-height: LH(21.2, 16);
                        }
                    }
                }
            }
        }
        .the-nav.active{
            right: 0;
        }
        .nav-light{
            ul{
                li{
                    a{
                        color: $third;
                    }
                }
            }
        }
    }
}