.header-partial-f00228 {
    padding: scaleVW(126, $desktop);
    position: relative;
    @media(max-width:768px){
        padding: scaleVW(25, $movil);
    }
    .custom-logo{
        position: absolute;
        top: scaleVW(78, $desktop);
        left: scaleVW(83, $desktop);
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: scaleVW(136.0194, $desktop);
            height: scaleVW(206.4964, $desktop);
        }
    }
    .content{
        width: scaleVW(1306.7671, $desktop);
        margin: 0 auto;
        @media(max-width:768px){
            width: scaleVW(340, $movil);
            position: relative;
        }
        h2{
            font-size: scaleVW(62.46, $desktop);
            line-height: LH(74.95, 62.46);
            text-align: center;
            color: $primary;
            font-family: $title;
            margin-bottom: scaleVW(36, $desktop);
        }
        .bar-menu{
            display: none;
            width: scaleVW(30, $movil);
            height: scaleVW(20, $movil);
            flex-direction: column;
            justify-content: space-between;
            margin-left: auto;
            z-index: 2;
            position: relative;
            span{
                width: scaleVW(30, $movil);
                height: scaleVW(1.9, $movil);
                // background: $primary;
            }
            @media(max-width:768px){
                display: flex;
            }   
        }
        .bar-menu.active{
            top: 10px;
            .top{
                position: absolute;
                transform: rotate(45deg);
            }
            .bottom{
                transform: rotate(-45deg);
            }
            .center{
                display: none;
            }
        }
        .the-nav{
            ul{
                display: flex;
                list-style: none;
                align-items: center;
                margin: 0;
                padding: 0;
                justify-content: center;
                gap: scaleVW(66, $desktop);
                li{
                    a{
                        // color: $primary;
                        font-size: scaleVW(21, $desktop);
                        line-height: LH(25.2, 21);
                        font-family: $title;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                    .active{
                        font-weight: 700;
                    }
                }
            }
            @media(max-width:768px){
                position: absolute;
                right: -100%;
                top: 0;
                height: 100vh;
                width: 70%;
                padding: 0;
                transition: .2s;
                transform: translateX(scaleVW(25, $movil));
                z-index: 1;
                ul{
                    flex-direction: column;
                    gap: scaleVW(6, $movil);
                    align-items: baseline;
                    padding-left: scaleVW(20, $movil);
                    li{
                        a{
                            text-align: right;
                            font-size: scaleVW(16, $movil);
                            line-height: LH(21.2, 16);
                        }
                    }
                }
            }
        }
        .the-nav.active{
            right: 0;
        }
    }
}
.header-partial-f00228.apricot{
    background: $orange_lt;
    .custom-logo{
        svg{
            path{
                fill: $orange;
            }
        }
    }
    .content{
        .bar-menu{
            span{
                background: $orange;
            }
        }
        .the-nav{
            background: $orange_lt;
            ul{
                li{
                    a{
                        color: $orange;
                    }
                }
            }
        }
    }
}
.header-partial-f00228.lavender-pink{
    background: $pink;
    .custom-logo{
        svg{
            path{
                fill: $fucsia;
            }
        }
    }
    .content{
        .bar-menu{
            span{
                background: $fucsia;
            }
        }
        .the-nav{
            background: $pink;
            ul{
                li{
                    a{
                        color: $fucsia;
                    }
                }
            }
        }
    }
}
.header-partial-f00228.thistle{
    background: $purple;
    .custom-logo{
        svg{
            path{
                fill: $violeta;
            }
        }
    }
    .content{
        .bar-menu{
            span{
                background: $violeta;
            }
        }
        .the-nav{
            background: $purple;
            ul{
                li{
                    a{
                        color: $violeta;
                    }
                }
            }
        }
    }
}
.header-partial-f00228.straw{
    background: $green_lt;
    .custom-logo{
        svg{
            path{
                fill: $green;
            }
        }
    }
    .content{
        .bar-menu{
            span{
                background: $green;
            }
        }
        .the-nav{
            background: $green_lt;
            ul{
                li{
                    a{
                        color: $green;
                    }
                }
            }
        }
    }
}